.about {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-wrapper {
  pointer-events: all;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 1.25rem;
}

.about.is-open .about-wrapper {
  display: flex;
}

.about-content {
  max-width: 720px;
  margin: auto;
}

.about-content p {
  padding: 1rem 1.25rem;
}

.about-content .hr {
  text-align: center;
  color: #adadad;
  letter-spacing: 1rem;
}

.about-toggle {
  z-index: 9001;
  pointer-events: all;
  cursor: pointer;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  color: #adadad;
  font-size: 1rem;
  font-weight: 100;
}

.about.is-open .about-toggle {
  color: #804db3;
}
