input[type="text"],
button[type="submit"] {
  display: block;
  border: 0;
  padding: 1rem .75rem;
  font-size: 20px;
  text-align: center;
}

input[type="text"] {
  appearance: none;
  width: 100%;
  border-radius: 0;
  border-bottom: 2px solid #E7E7E7;
  background-color: #FFF;
}

button[type="submit"] {
  transition: all .125s ease-in-out;
  cursor: pointer;
  margin: 1rem auto 0;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #1589C9;
  background-color: #1589C9;
  color: #FFF;
  font-weight: 600;
}

button[type="submit"]:disabled {
  cursor: not-allowed;
  border-color: #E7E7E7;
  background-color: transparent;
  color: #E7E7E7;
}
